<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="resume.css">
</head>
<body>
<a href="/add">Add a Course</a><br />

<h1 align="center">Resume</h1>

<table>
    <tr>

        <th>First Name</th>
        <th>Last Name</th>
        <th>Street Address</th>
        <th>City</th>
        <th>zipcode</th>
        <td>phone number</td>
        <td>country</td>
        <td>email</td>
    </tr>
    <tr th:each="course : ${courses}">
        <td th:text="${course.fname}"></td>
        <td th:text="${course.lname}"></td>
        <td th:text="${course.stAdd}"></td>
        <td th:text="${course.city}"></td>
        <td th:text="${course.zipcode}"></td>
        <td th:text="${course.pnumber}"></td>
        <td th:text="${course.country}"></td>
        <td th:text="${course.email}"></td>
        <td>
            <a th:href="@{/update/{id}(id=${course.id})}">Update</a> -
            <a th:href="@{/detail/{id}(id=${course.id})}">Details</a> -
            <a th:href="@{/delete/{id}(id=${course.id})}">Delete</a>
        </td></tr>
</table>
</body>
</html>